<header class="header">
    <a href="/" class="logo">J.M</a>

    <nav class="navbar">
        <a href="/" style="--i:1" class="active">Home</a>
        <a href="/about" style="--i:2">About</a>
        <a href="/skills" style="--i:3">Skills</a>
        <a href="/showcase" style="--i:4">showcase</a>
        <a href="/blogs" style="--i:5">blogs</a>
        <a href="/contact" style="--i:6">contact</a>
    </nav>
</header>