<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <!-- about section  -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/Jays.jpg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Backend Developer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Illum veritatis exercitationem, mollitia dolorem, sapiente saepe 
                laudantium iste qui quibusdam eos numquam quas deserunt possimus quae 
                odio officia aliquid, consequuntur enim quos ratione veniam repellat deleniti. 
                Similique blanditiis numquam provident. Neque et, quidem enim necessitatibus natus voluptate!
            </p>
            <a href="mailto:Jaysmucci@gmail.com" class="btn">Hire Me</a>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>