<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <!-- about section  -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/Jays.jpg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Backend Developer</h3>
            <p>
                My name is Jays mucci, a Passionate Programmer who has driven by passion,
                for Developing and Designing Software Application that are user friendly
                with overall user experience.
            </p>
            <a href="mailto:Jaysmucci@gmail.com" class="btn">Hire Me</a>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>