*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #1f242d;
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRigth 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s *  var(--i));
}
.navbar a.active,
.navbar a:hover{
    color: #0eb;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    margin-top: 1rem;
}

.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRigth 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 16px;
    text-align: justify;
    width: 27rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-img img {
    max-width: 450px;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    margin: -57px 7rem 0 0;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
/* footer */
footer {
    text-align: center;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: -2rem 20rem;
}
/* @keyframes */
@keyframes slideRigth {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

/* about section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #1f242d;
    margin: 9rem 0 -3rem 0;
}
.about-img img {
    /* width: 35vw; */
    max-width: 450px;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    margin: 0 100px 0 0;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.heading{
    text-align: center;
    font-size: 3rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h2 span {
    color: #0ef;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p {
    font-size: 16px;
    margin: 2rem 0 3rem;
    text-align: justify;
    width: 27rem;
}

.service h2{
    margin-bottom: 2rem;
    margin-top: 8rem;
}
.service h2 span{
    color: #0ef;
}
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3rem 3rem 1rem 3rem;
}
.service-container .service-box {
    flex: 0 1 12rem;
    background-color: #4770bd52;
    padding: 8px 0 1rem;
    border-radius: 2rem;
    text-align: center;
    border: .1rem solid #37599794;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.service-box i {
    font-size: 4rem;
    color: #0eb;
    align-items: center;
    justify-content: center;

}
.service-container h3{
    font-size: 1.5rem;
}